<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Student's Screen</title>
    <script>
        async function updateQuestion() {
   
            const response = await fetch("/display");
            const list=await response.text().split(',');
            document.getElementById("question").innerText = list[0];
            document.getElementById("option1").innerText = list[1];
            document.getElementById("option2").innerText = list[2];
            document.getElementById("option3").innerText = list[3];
            document.getElementById("option4").innerText = list[4];

        }

        updateQuestion
     
    </script>
</head>
<body>
    <h1>Question:</h1>
    <h2 id="question">{{ question }}</h2>
    <h2 id="option1">{{ option1 }}</h2>
    <h2 id="option2">{{ option2 }}</h2>
    <h2 id="option3">{{ option3 }}</h2>
    <h2 id="option4">{{ option4 }}</h2>
</body>
</html>