<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Student's Screen</title>
    <script>
        async function updateQuestion() {
            location.reload();
            const response = await fetch("/display");
            document.getElementById("question").innerText = await response.text();
        }
        setInterval(updateQuestion, 1000)
     
    </script>
</head>
<body>
    <h1>Question:</h1>
    <h2 id="question">{{ question }}</h2>
</body>
</html>